        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 3px;
        }

        .task input[type="checkbox"] {
            margin-right: 10px;
        }

        .task .delete-button {
            background-color: #ff5e5e;
            color: #fff;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            border-radius: 3px;
        }

        .task .delete-button:hover {
            background-color: #ff3333;
        }

        .strike {
            text-decoration: line-through;
        }
